<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="">
    <table border="1">
        <tr>

            <th>ROLL NO</th>
             <td>{{ data['roll_no'] }}</td>
        </tr>
        <tr>
            <th>STUDENT NAME</th>
            <td>{{ data['name'] }}</td>
        </tr>
        <tr>
            <th>MARK</th>
                    <td>{{ data['mark'] }}</td>



        </tr>
    </table>
</form>

</body>
</html>